body {
	background-color: #232330;
	color: #D9E9D7;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.jc {
	width: 100vw;
	height: calc(100% - 120px);
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
/*********************/
/** Messages        **/
/*********************/
.jc-message {
	position: relative;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jc-message.folded {
	max-height: 40px;
}

.jc-message .jc-fold svg {
  transform: rotate(0turn);
}

.jc-message.folded .jc-fold svg {
  transform: rotate(.5turn);
}

.jc-message code {
	position: relative;
	display: block;
	overflow-x: auto;
	padding-right: 40px;
}

.jc-content {
	overflow: auto;
}

.jc-role-user {
	background-color: #124283;
}

.jc-role-assistant {
	background-color: #525263;
}

.jc-role-warn {
	color: #322263;
	background-color: #f37c00;
	font-weight: bold;
}

.jc-role-error {
	color: #322263;
	background-color: #f31c00;
	font-weight: bold;
}

.jc-waiting {
  background: linear-gradient(to right, #525263 20%, #828283 40%, #828283 60%, #525263 80%);
  background-size: 400% 100%;
  background-position: 0% 50%;
  animation: shine 6s linear infinite;
}

@keyframes shine {
  to {
    background-position: 400% 50%;
  }
}

/*********************/
/** Boutons         **/
/*********************/
.jc-message button {
  background-color: #a9a9a9;
  box-shadow: 2px 2px 4px black;
  padding: 2px;
  opacity: 50%;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 2s ease;
}

.jc-message button:hover {
  background-color: #c9c9c9;
  opacity: 80%;
}

.jc-message button:active {
  background-color: #a9a9a9;
}

.jc-message button svg {
  transition: transform .3s;
}

.jc-copy svg {
  transform: scale(1);
}
.jc-copy:active svg {
  transform: scale(0.5);
}


/*********************/
/** Controls        **/
/*********************/

.jc-controls {
	height: 110px;
	padding: 10px;
}

.jc-controls textarea {
	display: block;
	resize: none;
	width: 100%;
	height: 80px;
	background-color: #525263;
	border: 1px solid #322263;
	border-radius: 5px;
	color: #D9E9D7
}

.jc-buttons-bar {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
  	align-items: stretch;
  	gap: 30px;
}

.jc-buttons-bar>*{
	flex: 1;
	border-radius: 5px;
}

.jc-clear-btn {
	background: #a31700;
	color: #D9E9D7;
}

.jc-tell-btn {
	background: #328233;
	color: #D9E9D7;
}


/**********************/
/** Material buttons **/
/**********************/
.mat-btn {
  position: relative;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.mat-btn > * {
  position: relative;
}

.mat-btn span {
  display: block;
  padding: 12px 24px;
}

.mat-btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  transform: translate(-50%, -50%);
}

.mat-btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}


/****************************/
/** Themes (compatible IE) **/
/****************************/

body.dark {
	background-color: #232330;
	color: #D9E9D7
}

body.dark .jc-role-user {
	background-color: #124283;
}

body.dark.jc-role-assistant {
	background-color: #525263;
}

body.dark .jc-role-warn {
	color: #322263;
	background-color: #f37c00;
}

body.dark .jc-role-error {
	color: #322263;
	background-color: #f31c00;
}

body.dark .jc-waiting {
  background: linear-gradient(90deg, #525263 20%, #828283 40%, #828283 60%, #525263 80%);
  background-size: 400% 100%;
  background-position: 0% 50%;
}

body.dark .jc-message button {
  background-color: #a9a9a9;
  box-shadow: 2px 2px 4px black;
}

body.dark .jc-message button:hover {
  background-color: #c9c9c9;
  opacity: 80%;
}

body.dark .jc-message button:active {
  background-color: #a9a9a9;
}

body.dark .jc-clear-btn {
	background: #a31700;
	color: #D9E9D7
}

body.dark .jc-tell-btn {
	background: #328233;
	color: #D9E9D7
}